@media screen and (min-width: 1000px) {
    .navigation {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    header {
        padding: 0;
    }


    .navigation li {
        display: block;
        flex: 1 1 1 1 100%;
    }

    nav ul {
        overflow: visible;
    }

    a:hover {
        text-decoration: overline;
    }

    header nav {
        display: block;
        justify-content: space-between;
        background-color: black;
        margin-bottom: -15px;
    }

    #menu {
        display: none;
    }

    header span {
        margin: 0;
    }

    .title {
        margin-left: -190%;
    }

    .header-title {
        font-size: 50px;
    }

    .mini-title {
        margin-left: 5px;
        font-size: larger;
    }

    footer a img {
        width: 50%;
    }

    footer {
        display: flex;
        align-items: center;
    }

    #lastModified {
        margin-top: -15px;
    }

    .social {
        display: flex;
        justify-content: center;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
    }

    * {
        text-align: center;
    }

}