:root {
    --primary-color: #3f88c5;
    --secondary-color: #c57b57;
    --background-color: white;
    --tect-color: black;
}


/* header/footer */


header,
footer {
    color: black;
    background-color: var(--primary-color);
    padding: 15px;
}

/* header */

.hero img {
    width: 100%;
}

header {
    height: auto;
    display: grid;
    align-items: center;
}

header img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 40%;
}

.title {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -40%;
}

.header-title {
    font-size: xx-large;
}

/* nav */

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: overline;
}

.hamburgerMenu {
    grid-row: 1/2;
    grid-column: 3/4;
    margin-right: 5px;
}

#menu::before {
    content: "≡";
    text-decoration: none;
    font-size: 45PX;
    font-weight: 800;
}

#menu.open::before {
    content: "X";
}

.navigation li {
    list-style-type: none;
}

.active {
    margin-left: -23px;
}

nav {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    line-height: 35px;
    font-size: larger;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

#menu {
    text-decoration: none;
    color: black;
}

.active::before {
    content: "🎈";
}

/* main */

h1 {
    margin: 15px;
}

main {
    margin: 0 auto;
    display: block;
    justify-items: center;
}

body {
    margin: 0 auto;
}

section h2 {
    background-color: var(--primary-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    margin-top: 15px;
    padding: 0;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    width: 98%;
}



section img {
    width: 30%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    object-fit: contain;
}

.compInfo {
    width: 60%;
    height: auto;
}

#cards {
    margin-left: 2%;
    width: 99%;
}

/* footer */

footer {
    margin-top: 25px;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social a {
    width: 20%;
}

footer a img {
    width: 100%;
    height: auto;
}

/* text */

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h2,
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.forecast {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.weather figure {
    width: 30%;
    align-content: center;
}

.weather img {
    width: 60%;
    height: auto;
}

#spotlight section{
    width: 100%;
    padding: 0;

}

#spotlight section h2 {
    background-color: var(--primary-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

.events {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* sections */